<!DOCTYPE html>
<head>
<title>bookForm</title>
<link rel="stylesheet" href="/static/stylesheets/bookForm.css" type="text/css">>
<link rel="stylesheet" href="https://use.typekit.net/mhx2pta.css">

</head>
<body>

    <div class="bookFormContainer">
        <img src="../img/06critics-list1-superJumbo.jpg">
        <div>
        <h1>Lägg till bok</h1>
<form action="/addBook" method="post">

    <input type="text" name="name" id="">
    <input type="text" name="description" id="">
    <input type="number" name="price" id="">


<button type="submit">LÄGG TILL</button>
</div>
</div>
</form>
</body>