<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=di, initial-scale=1.0">
    <title>Bock Shop</title>
    <link rel="stylesheet" href="/stylesheets/resetPasswordForm.css">
</head>
<body>
    
    
    <div class="main">
        <h3>Pick a new password</h3>
        <form action="/resetPasswordForm" method="post">
            <label for="password">New password</label>
            <input type="password" name="newPassword" placeholder="New password">
            <input type="email" name="email" value="<%=email %>" hidden>
            <button type="submit">Submit</button>
            </form>
    </div>
</body>
</html>

