<h1>Lista av alla böcker</h1>


<%  books.forEach( course => { %>
    <div>
        <%= book.name %>
    </div>
    <div>
        <%= book.price %>
    </div>
    <a href="/addToCart/<%=book.id%>">Add to Cart</a>
    <div>=================</div>
 <%  }) %>